<link rel="stylesheet" href="/css/mail.css">
<div class="mail-content">
    <h1>CODEIAL</h1>
    <br>
    <hr>
    <br>
    <p id="name">Hi  <%= comment.user.name %>!!</p>
    <br>
    <br>
    <p>Your Comment Has Been Published,</p>
    <p><%= comment.content %></p>
    <br>
    <p class="thank">THANKS!!</p>
</div>