#post li {
  list-style: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px 4px 5px 15px;
  margin-bottom: 5px; }
  #post li .content {
    padding: 5px;
    font-size: 0.9rem;
    font-family: Georgia, serif;
    margin-bottom: 100px; }
  #post li .delete-post-button {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px; }
  #post li i {
    font-size: 1.1rem;
    margin-right: 5px; }
  #post li .author {
    margin-left: 10%; }
  #post li .toggle-like-button {
    margin-left: 2.5%;
    color: red; }
  #post li .post-comments form {
    margin-left: 5%; }
    #post li .post-comments form .comment-bar {
      width: 40%;
      height: 27px;
      padding: 5px;
      border: 1px solid grey;
      border-radius: 5px;
      font-family: Georgia, serif;
      font-size: 0.85rem; }
    #post li .post-comments form .comment-submit {
      font-family: Georgia, serif;
      font-size: 0.7rem; }
  #post li .post-comments-list h6 {
    margin-bottom: 25px; }
